<!DOCTYPE html>

<html lang = "pt-br">

<head> 
	<title> Rinhas de Rua - Cenarios </title>
		<meta charset = "utf-8">
		<link rel="stylesheet" href="/static/css/style.css">
		<link rel = "icon" href = "/static/img/punho-soco.png">
		<link href = 'https://fonts.googleapis.com/css?family=Open+Sans' rel = 'stylesheet' type = 'text/css'>

</head>

<body class = "imagem-fundo">
	<main class = "mapa">
		<h1 color = "#FF0000"> Cenario Rinhas de Rua </h1><br>
		<center> <hr width = "100%" align = "center" size = "3" color = "#4169E1"> </center><br>
		 <img src = "/static/img/mapa_icone.png" width = "30" height = "30"> <p> Selecione um cenario </p>

		 <ul>
			<li> <a href = "/static/img/cenario-rua-chinesa.png" target = "map">  <img src = "/static/img/punho-lado.png" width = "20" height = "20">  Rua Chinesa  </a> </li>
			<li> <a href = "/static/img/cenario-rua.png" target = "map"> <img src = "/static/img/punho-lado.png" width = "20" height = "20"> Beco </a> </li>
			<li> <a href = "/static/img/cenario-floresta-bambu.png" target = "map"> <img src = "/static/img/punho-lado.png" width = "20" height = "20"> Floresta Bambu </a> </li>
		</ul> <br><br><br>

		<center> <hr width = "100%" align = "center" size = "3" color = "#4169E1"> </center><br>
		<img src = "/static/img/mapa_icone.png" width = "30" height = "30"> <p> Cenarios </p> <br>

		<center > <iframe name = "map" id = "map" width = "600" height = "400" frameborder = "1"> </iframe> </center>
		
	</main>

</body>
</html>